<div class="container">
    <div class="row container">
        <div class="col-md-4" >
            <div class="card shadow pointer" style="height: 100%;" routerLink="/reporting-archive">
                <img class="card-img-top" src="assets/images/reporting-archive.png">
                <div class="card-body text-center">
                    <h5 class="card-title text-success">Reporting Archive</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow pointer" style="height: 100%;" routerLink="/create">
                <img class="card-img-top" src="assets/images/damage-archive.png">
                <div class="card-body text-center">
                    <h5 class="card-title text-success">Damage Archive</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow pointer" style="height: 100%;" routerLink="/create">
                <img class="card-img-top" src="assets/images/kpi.png">
                <div class="card-body text-center">
                    <h5 class="card-title text-success">KPI</h5>
                </div>
            </div>
        </div>
    </div>
</div>